<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkjPgkiyZMYwCgt8vwu5ikD3VPpBJUn2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>576435965078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>umich.eecs497.homeharmony</string>
	<key>PROJECT_ID</key>
	<string>homeharmony-7d4ce</string>
	<key>STORAGE_BUCKET</key>
	<string>homeharmony-7d4ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576435965078:ios:3307e811e62cae8f0cc6b7</string>
</dict>
</plist>